*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    width: 90%;
    container: 100px;
    display: flex;
    padding-top: 20px;
    padding-inline: 30px;
    /* background-color: blue; */
}
nav{
    display: flex;
    justify-content: start;
    align-items: center;
    width: 30%;
}

nav > ul > li{
    display: inline-block;
    font-size: 20px;
    padding: 10px;
    position: relative;
}
nav > ul > li:hover{
    background-color: rgb(231, 231, 231);
}
nav > ul > li >.nav{
    gap: 100px;
    text-decoration: none;
    color: black;
    font-size: 20px;
}
.drop {
    width: 80vw;
    position: absolute;
    top: 100%;
    left: -30%;
    background: rgb(255, 255, 255);
    transition: all 0.5s;
    height: 0;
    overflow: hidden;
    
}
.drop1 {
    width: 80vw;
    position: absolute;
    top: 100%;
    left: -200%;
    background: rgb(255, 255, 255);

    transition: all 0.5s;
    height: 0;
    overflow: hidden;
    
}
.drop2 {
    width: 80vw;
    position: absolute;
    top: 100%;
    left: -332%;
    background: rgb(255, 255, 255);
    transition: all 0.5s;
    height: 0;
    overflow: hidden;
    
}
.drop3 {
    width: 80vw;
    position: absolute;
    background: rgb(255, 255, 255);
    top: 100%;
    left: -465%;
    transition: all 1s;
    height: 0;
    overflow: hidden;
    
}

table{
    width: 100%;
}
.spe{
    color: rgb(169, 9, 9);
}

.pises{
    color: white;
}

a{
    color: black;
    text-decoration: none;
    font-size: 15px;
}
nav > ul >.fonts:hover >.drop{
    height: 512px;
}
nav > ul >.fonts:hover >.drop1{
    height: 460px;
}
nav > ul >.fonts:hover >.drop2{
    height: 260px;
}
nav > ul >.fonts:hover >.drop3{
    height: 260px;
}

.logo{
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* font-family: Arial, Helvetica, sans-serif; */
}
.logo > h1 >a{
   text-decoration: none;
   font-size: 40px;
   color: black;
   
}
.input{
    display: flex;
    width: 30%;
    padding: 10px;
    gap: 20px;
}
.logos{
    padding: 10px;
    gap: 20px;
    display: flex;
    justify-content: end;
    align-items: center;
    font-size: 20px;
}
span{
    display: inline-block;
}
.searchb{
    display: flex;
    justify-content: center;
    align-items: center;
}

.searchb > input{
    width: 200px;
    height: 30px;
    padding: 10px;
    font-size: 20px;
}

.LF{
    font-size: 20px;

    padding: 20px;
    text-decoration: none;
    color: black;
}
.fonts{
    font-family: sans-serif;
}
.textblack{
    color: black;
}

main{
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

